<edu-form-card [formGroup]="changepasswordForm" formTitle="Change password">
    <ng-container formfields>

        <mat-form-field class="example-full-width">
            <input matInput name="password" type="password" required formControlName="password">
            <mat-placeholder class="placeholder">New Password</mat-placeholder>
        </mat-form-field>
        <p class="text-danger" *ngIf="changepasswordForm.get('password').errors?.pattern">
           Password must be alphanumeric and min. 8 char long
        </p>

        <mat-form-field class="example-full-width">
            <input matInput name="confirm_password" type="password" required formControlName="confirm_password">
            <mat-placeholder class="placeholder">Confirm Password</mat-placeholder>
        </mat-form-field>
        <p class="text-danger" *ngIf="changepasswordForm.get('confirm_password').errors?.mismatch">
           Password and Confirm passwor do not match
        </p>

    </ng-container>

     <ng-container actions>
        <div style="display: flex !important;
                justify-content: center !important;
                align-items: center !important;">
            <button mat-raised-button (click)="updatePassword()" color="accent" [disabled]="!changepasswordForm.valid">Update Password</button>
        </div>

    </ng-container>
</edu-form-card>