<p>chat works!</p>
<div class="uk-container uk-container-small">
    <div class="uk-card uk-card-default uk-width-1-1@m uk-height-1-1 ">
      <div class="uk-card-header uk-sticky"style="background: rgb(201, 76, 76);">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <button type="button" uk-close></button>
              </div>
              <div class="uk-width-expand">
                  <h3 class="uk-card-title uk-text-center uk-margin-remove-bottom" >Ticket #Undefined</h3>
                  
              </div>
          </div>
      </div>
      <div class="uk-panel uk-panel-scrollable">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      </div>
     
        <form class="uk-position-bottom uk-flex">
    
              <input class="uk-input uk-width-1-1" type="text" placeholder="Type a Message">
              <div class="js-upload" uk-form-custom>
                <input type="file" multiple>
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                  <mat-icon>more</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                  <mat-icon>send</mat-icon>
                </button>
              </div>
          </form>
    
    </div>
    </div>