
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-20"> <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Settings </button>
    <button mat-menu-item (click)="getprofile()">
        <mat-icon>account_box</mat-icon> Profile </button>
        <button mat-menu-item (click)="changePassword()">
            <mat-icon>restore</mat-icon> Change Password</button>     
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Sign Out </button>
</mat-menu> 

