<edu-form-card [formGroup]="progressform" formTitle="Assignment Progress">
    <ng-container formfields>
        <mat-vertical-stepper (selectionChange)="onSelectionChange($event)">
            <mat-step *ngFor="let order of progressOrders">
            <ng-template matStepLabel>
               completed {{  order.percent}} %
            </ng-template>
            <edu-form-card [formGroup]="progressform">
                <ng-container formfields>
            
                    <mat-form-field class="example-full-width">
                        <input matInput disable name="work_percent" required formControlName="work_percent">
                        <mat-placeholder class="placeholder">% Work Completed</mat-placeholder>
                    </mat-form-field>
            
                    <mat-form-field class="example-full-width">
                        <mat-label>Info*</mat-label>
                <textarea matInput formControlName="content" style="height: 50px;box-sizing: border-box;"></textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput disable name="user" required formControlName="user">
                        <mat-placeholder class="placeholder">User</mat-placeholder>
                    </mat-form-field>
                      
                    <!-- <div class="form-group">
                        <label for="file">File</label>
                    </div> -->
            
                </ng-container>
            </edu-form-card>
            </mat-step>

          </mat-vertical-stepper>
    </ng-container>
</edu-form-card>
