.alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

:host {
  @media only screen and (orientation: landscape) {
    width: 50%;
  }
  @media only screen and (orientation: portrait) {
    width: calc(100% - 28px);
  }
  height: 100%;
}

mat-card-title {
  font-size: 15px !important;
}

mat-card {
  height: 150px;
  margin-top: 10px;
}
